.tigrc.swp
.vscode/metago_bookmarks.json
.vscode/settings.json
.DS_Store
tmp/
*.lock.json
**/*.swp
dotfiles/.config/clusters.yaml
dotfiles/.config/tmux/plugins/
dotfiles/.config/tmux/resurrect/
dotfiles/.config/nvim/autoload
dotfiles/.config/nvim/plugged
dotfiles/.config/nvim/session
dotfiles/.config/nvim/.netrwhist
