[user]
	name = Henrik Rudstrøm
	email = henrik.rudstrom@amedia.no
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
    default = simple
[pull]
    ff = only
[color]
	ui = true
[color "branch"]
    current = magenta reverse
    local = green bold 
    remote = red bold
[color "status"]
    added = green
    changed = cyan
    untracked = red 
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgall = !git lg --all
    lga = !git lgall

    pushf = push — force-with-lease

	; stash aliases
    sp = stash pop
    sl = stash list
    sa = stash apply
    s = stash

	brv = branch -v --color
    brav = branch -av --color
    brlocaloneline = !git branch | grep -v \\* | xargs
    brdeletelocal = !git branch -D `git brlocaloneline` || echo "Nothing to delete"
    brallfromremotes = !git branch -a | grep ‘remotes/' | grep -v "HEAD" | sed ‘s/remotes\\///'
    brcreatefromremotes = !git brallfromremotes | xargs git branch
    brsync = !git com && git brdeletelocal && git fetcha
    sync = !git brsync

    rv = remote -v
    co = checkout
    cob = checkout -b
    com = checkout master
    cl = config -l
    st = status
    cloner = clone --recursive
    cl = clone
    ci = commit
    br = branch
    fetchp = fetch --prune
    fetcha = fetch --all
    dc = diff --cached
    mergef = merge — ff-only
    aliase = !vim ~/.gitconfig
	undo = git reset --soft HEAD~1
